.App {
  text-align: center;
}

.App-logo {
  
  height: 80px;
}

.App-header {
  background-color: white;
  height: 80px;
  padding: 20px;
  color: #033B56;
  margin-top: 40px;
  font-size: 60px;
  
}

.App-title {
  font-size: 1.5em;

}

.App-intro {
  font-size: large;
}



.GridList {
  padding-top: 50px;
}


.descritpionPar {
  color: #033B56;
  font-size: 20px;
}

.Nav_linkHomeButton:link {
  text-decoration: none;
  color: #044362;
}

.Nav_linkHomeButton:visited {
  text: #044362;

} 

.Nav_linkHomeButton:hover {
  color: white;
  background-color: #044362;
  transition: 0.8s;
  transform: translate(10px);
  text-decoration: underline ;
}

.gridListTile:hover .overlay {
    height: 100%;
  }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  }

  

  .hoverText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

