.App {
  text-align: center;
}

.App-logo {
  
  height: 80px;
}

.App-header {
  background-color: #E3F3FB;
  height: 130px;
  padding: 20px;
  color: black;
  margin-top: 40px;
  
}

.App-title {
  font-size: 1.5em;

}

.App-intro {
  font-size: large;
}



.GridList {
  padding-top: 50px;
}


.descritpionPar {
  color: black;
  font-size: 20px;
}

